/* GENERAL */
body{
    background: linear-gradient(to left, #e66465, #9198e5);
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

.ganon{
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}

/* NAVBAR */

.ness{
    background-color: rgba(51, 51, 51, 0.76);
    border: 0.1vw solid white;
}

#pkfire{
    float: right;
}


button{
    padding : 1vw 1vw;
    background-color: rgba(51, 51, 51, 0);
    border: none;
    border-left: 0.1vw solid white;
    border-right: 0.1vw solid white;
    color: white;
    font-size: 2vw;
    box-shadow: none;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: black;
    transition-duration: 0.3s;
    padding: 1vw 2vw;
}



.falcon{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4vw;
    width: 47%;
    margin-left: 5%;
   
}

.falcon>div{
    background-color: rgba(59, 59, 59, 0.5);
    width: 90%;
    margin: 1vw;
    text-align: center;
    line-height: 4vw;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 2vw;
}

#f_punch{
    background-color: rgba(0, 0, 0, 0.562);
}

.falcon>div>a:active>div#fpunch{
    display: block;
}

a#side_b{
    width: 20%;
    position: fixed;
    cursor: pointer;
    bottom: 5vh;
    right: 3vw;
    background-color: rgba(59, 59, 59, 0.747);
    
}

a#side_b:hover{
    background-color: rgb(59, 59, 59);
    transition-duration: 0.2s;
    border-radius: 2vw;
}

a#side_b>img{
    width: 35%;
    display: block;
    margin: auto;
}


a#side_b>h1{
    font-size: 2vw;
    text-align: center;
    color: rgb(255, 255, 255);
}

#samus{
    width: 48%;
    background-color: rgba(182, 180, 180, 0.527);
    border: 0.1vw solid white;
}

#samus>table{
    width: 100%;
    font-size: 1.5vw;
    color: white;
    border-collapse: collapse;
}

tr{
    border : 0.1vw solid white;
}

th{
    padding: 1vw 1vw;
}

#fouet{
    border-right: 0.1vw solid white;
}

#missile{
    height: 0vh;
}

#gun{
    height: 0vh;
}

#samus>#missile:target{
    background-color: orange;
    height: 100vh;
}

#samus>#gun:target{
    background-color: pink;
    height: 100vh;
}